APP_PORT="8000" # port where the express.js is going to listen to
SERVER_IP="localhost" # ip of the robocode server, is used to compose the game server address to pass to the bots
SERVER_PORT="1234" # port of the robocode server, it's the default one but if it's unusable the application will change it with a random one
SERVER_SECRET_FOR_ROBOT="botssecret" # secret for the bots to use to connect to the server
VERSION="0.17.3" # version of the robocode server and sample-bots to use
CSVPATH="/Users/dtp4/PROJECTS_LOCAL/RobocodeTankRoyal-WebGUI/robocode/results/" # path where the CSV fil with the battle results are saved
SERVERDIR="/Users/dtp4/PROJECTS_LOCAL/RobocodeTankRoyal-WebGUI/robocode/servers/" # path where the application can find the server directory (not the jar, explanation in the README)
SAMPLEBOTSDIR = "/Users/dtp4/PROJECTS_LOCAL/RobocodeTankRoyal-WebGUI/robocode/bots" # path where the application can find the sample-bots directories (explanation in the README)
BOTDIRS="Dev,/Users/dtp4/PROJECTS_LOCAL/PPObot/src/main/java" # directories for your bots! (explanation in the README)